<div class="box">
  <h2><%= t('activerecord.model.learnings') %></h2>

  <ul class="list">
    <% current_user.learnings.each do |f| %>
      <li>
        <%= link_to learning_path(f) do %>
          <span class="listed left"><%= f.summary %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to t('helpers.submit.create', model: t('activerecord.model.learning')), new_learning_path(current_user), class: "btn btn-success" %>
</div>