<h1>
  Welcome to Accompany-me!
</h1>

<p>
  You have successfully signed up to accompany-me.herokuapp.com.
</p>

<p>
  We hope you like this web app and fell free to give us a feed-back at: tomasdelima@gmail.com
</p>

<p>
  Thanks for joining and we wish you great accompaniments!
</p>
 