Listing your friends

<ul>
  <% current_user.friends.each do |f| %>
    <li><%= link_to f.name, user_friend_path(current_user, f) %></li>
  <% end %>
</ul>

<%= link_to 'New friend', new_user_friend_path(current_user) %>

<br>
<br>

Listing all activities

<ul>
  <% Activity.all.each do |a| %>
    <li><%= link_to a.name, activity_path(a) %></li>
  <% end %>
</ul>

