<% content_for :page, 'user' %>

<div class="col-md-6">
  <div class="friends">
    <h2>Friends</h2>

    <ul class="list-unstyled">
      <% current_user.friends.each do |f| %>
        <li>
          <div><%= link_to f.name, user_friend_path(current_user, f) %></div>
        </li>
      <% end %>
      <button class="btn btn-success"><%= link_to 'New friend', new_user_friend_path(current_user) %></button>
    </ul>
  </div>
</div>

<div class="col-md-6">
  <div class="activities">
    <h2>Activities</h2>

    <ul class="list-unstyled">
      <% Activity.all.each do |a| %>
        <li>
          <div><%= link_to a.name, activity_path(a) %></div>
        </li>
      <% end %>
      <button class="btn btn-success"><%= link_to 'New activity', new_activity_path %></button>
    </ul>
  </div>
</div>

