Listing your friends

<ul>
  <% current_user.friends.each do |f| %>
    <li><%= link_to f.name, user_friend_path(current_user, f) %></li>
  <% end %>
</ul>

<%= link_to 'New friend', new_user_friend_path(current_user) %>