<% content_for :page, 'user' %>

<% if current_user.todays_activities.count > 0 %>
  <div class="col-md-12 alert alert-success">
    <%= "#{t('todays_activities')}: #{current_user.todays_activities.join(', ')}" %>
  </div>
<% end %>

<div class="col-md-6 expandevd">
  <%= render template: 'friends/index.html.erb' %>
</div>

<div class="col-md-6 expanded">
  <%= render template: 'activities/index.html.erb' %>
</div>

<div class="col-md-6 expanded">
  <%= render template: 'learnings/index.html.erb' %>
</div>