.bootstrap-wysihtml5-insert-link-modal.modal, .bootstrap-wysihtml5-insert-image-modal.modal {
  width: 601px;
  background: transparent;
  border: none;
  box-shadow: none;
}

.accompaniment h2::selection {
  background: transparent;
}

.box.accompaniment {
  h2 {
    cursor: pointer;
    &:hover {color: #004080};

    i {
      transition: transform 0.5s;
      top: 4px;

      &.up {
        transform: scaleY(-1);
      }
    }
  }
}