.activity {
  .activities {
    ul {
      margin-left: 110px !important;

      li {
        padding: 5px;

        span {
          position: absolute;
          left: 30px;
        }

        a {
          display: inline !important;
          padding: 5px 7px 5px 5px !important;
          border-right: 1px solid #ddd;

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  &.edit {
    ul {
      li {
        label {
          position: absolute;
          left: 30px;
        }

        input, select {
          min-height: 30px;
          width: 220px;
          margin: 0;
        }

        #activity_last_occurrence_1i, #activity_last_occurrence_2i, #activity_last_occurrence_3i, #activity_last_occurrence_4i, #activity_last_occurrence_5i {
          width: 100px;
        }
      }
    }
  }
}