.box {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;

  &.account {
    padding-top: 0;
    padding-bottom: 0;
  }

  h2, h3 {
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: inline;

    i {
      cursor: pointer;
    }
  }

  h2 {
    font-size: 32px;
    background: #fff;
    top: -30px;

  }

  h3 {
    font-size: 14px;
    font-weight: 200;
    background: #004080;
    top: -11px;

  }

  ul.list {
    padding-left: 0;
    list-style: none;
    margin: 0;

    & > li {
      border-bottom: 1px solid #e0e0e0;
      min-height: 30px;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f8f8f8;
      }

      & > a {
        padding: 5px;
        display: block;
        color: #004080;
        font-size: 23px;
        font-weight: 100;
        text-decoration: none;

        &:hover {
          font-weight: 400;
          transition: font-size 0.08s linear;
          transition: padding 0.08s linear;
          font-size: 30px;
          padding: 10px 5px;
        }
      }

      & > div {
        font-size: 26px;
        font-weight: 200;
        padding: 10px;
      }

      .font-20 {
        font-size: 20px;
        word-wrap: break-word;
      }

      label {
        position: absolute;
        left: 34px;
        padding: 10px 0;

        &.sub-form {
          position: initial;
          display: initial;
        }
      }

      .input {
        margin-left: 190px !important;
        min-height: 30px;
      }

      input, select {
        margin: 10px 0;
      }

      select {
        width: 133px !important;
      }
    }
  }

  & > .btn {
    margin: 10px 5px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.wysihtml5-toolbar {
  margin: 10px 0 0 110px !important;
  float: right;
}
.wysihtml5-sandbox {
  width: 100% !important;
}