body {
  padding: 0 !important;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: rgb(0, 64, 128);
  padding: 10px;
  margin: 0;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 0px 0px;
  color: #fff;

  .navbar-brand {
    font-size: 25px;
    padding: 10px;
    height: auto;
    color: #fff;
    text-shadow: 0px 0px 5px black;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .account {
    position: absolute;
    right: 30px;
    padding-bottom: 20px;

    .links {
      margin: -10px 0;

      a {
        color: #ddd;
        text-decoration: none;
        margin: 0 5px;
        display: inline-block;
      }
    }
  }
}

.clear {
  clear: both;
}

.box {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;

  &.account {
    padding-top: 0;
  }

  h2, h3 {
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: inline;

    i {
      cursor: pointer;
    }
  }

  h2 {
    font-size: 32px;
    background: #fff;
    top: -30px;

  }

  h3 {
    font-size: 14px;
    font-weight: 200;
    background: #004080;
    top: -11px;

  }

  ul.list {
    padding-left: 0;
    list-style: none;
    margin: 0;

    & > li {
      border-bottom: 1px solid #e0e0e0;
      min-height: 30px;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f8f8f8;
      }

      & > a {
        padding: 5px;
        padding: 10px 5px;
        display: block;
        color: #004080;
        font-size: 23px;
        font-weight: 100;
        text-decoration: none;
        line-height: 25px;

        &:hover {
          transition: font-size 0.1s linear;
          transition: font-weight 0.1s linear;
          font-weight: 400;
          font-size: 30px;
        }
      }

      & > div {
        font-size: 26px;
        font-weight: 200;
        padding: 10px;
      }

      .font-20 {
        font-size: 20px;
        word-wrap: break-word;
      }

      label {
        position: absolute;
        left: 34px;
        padding: 10px 0;

        &.sub-form {
          position: initial;
          display: initial;
        }
      }

      .input {
        margin-left: 190px !important;
        min-height: 30px;
      }

      input, select {
        margin: 10px 0;
      }

      select {
        width: 133px !important;
      }
    }
  }

  & > .btn {
    margin: 10px 5px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.wysihtml5-toolbar {
  margin: 10px 0 0 110px !important;
  float: right;
}
.wysihtml5-sandbox {
  width: 100% !important;
}