body {
  .navbar {
    background: #441A9E;
    padding: 10px;
    margin: 0;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;

    .navbar-brand {
      font-size: 25px;
      padding: 10px;
      height: auto;
          color: #ccc
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  .user, .activity, .friend {
    padding: 30px 15px;

    .col-md-6 {
      margin-bottom: 15px;
    }

    .friends, .activities, .accompaniments {
      border: 1px solid #ddd;
      border-radius: 5px;

      padding: 12px;

      h2 {
        font-size: 20px;
        top: -14px;
        position: absolute;
        background: #fff;
        line-height: normal;
        margin: 0;
      }

      ul {
        margin: 0;
      }

      li {
        line-height: 20px;
        border: 1px solid #a6bddc;
        margin: 5px;
        border-radius: 4px;
        background: #fbfdff;
        min-height: 32px;

        a {
          padding: 5px;
          display: block;
          color: #765d9c;
          font-weight: bold;
        }

        &:hover {
          box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
          background: #ebedef;
        }
      }

      button {
        margin: 0 5px;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}